.Section {
  .Section-title {
    position: relative;
    color: $theme-color1;
    padding: 10rem 0 9rem 1rem;

    &::before, &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 16rem;
      height: 16rem;
      display: block;
      background-color: $theme-color2;
      transform: rotate(45deg);
      z-index: -1;
    }

    &::before {
      width: 16rem;
      height: 16rem;
      content: '';
      transform-origin: top left;
    }
  }

  @media (min-width: 32rem) {
    .Section-title {
      top: 2rem;
      left: 9rem;
      width: 16rem;
      text-align: center;
      padding: 6.5rem 0 12rem 0;

      &::before {
        left: -17rem;
        transform: rotate(45deg) scale(.5);
        transform-origin: 50% 50%;
      }

      &::after {
        content: '';
      }
    }
  }
}

