.Work {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.Work-item {
  position: relative;
  display: inline-block;
  margin: 0 1rem 2rem;

  &::before {
    position: absolute;
    top: -1.25rem;
    left: .5rem;
    font-family: $font-family-title;
    font-weight: 700;
  }

  &.Work-item--website {
    &::before {
      content: 'Website';
    }
  }

  &.Work-item--webDesign {
    &::before {
      content: 'Website Design';
    }
  }

  &.Work-item--webApp {
    &::before {
      content: 'Web App';
    }
  }

  &.Work-item--windowsApp {
    &::before {
      content: 'Windows App';
    }
  }

  a, span {
    display: block;
  }
}