html {
  box-sizing: border-box;
  font-family: var(--font-family-system-ui);
  font-size: 1rem;
  line-height: var(--line-height);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color);
  color: var(--color-primary-text);
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: var(--color-primary);
}

a:focus {
  outline: thin dotted invert;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  line-height: var(--line-height-sm);
}

pre,
code,
var,
samp,
kbd {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  line-height: var(--line-height-sm);
}

pre {
  font-size: 0.875rem;
}
