extends partial/master.jade

block content
	nav
		.container
			p: a.Button.Button--large.u-shutterInHorizontal(href='https://4uing.net/') &lt; Home

	section.Section
		h2.Section-title 404

		.container
			p
				|お探しのページが見つかりませんでした。
				|文書をお探しの場合、#[a(href='http://qiita.com/hbsnow') Qiitaの投稿ページ]で見つけることができるかもしれません。