extends partial/master.jade

block content
	section.Section
		h2.Section-title Work

		ul.Work
			li.Work-item.Work-item--website
				a.Button.u-shutterInHorizontal(href='http://fuji-kkk.co.jp/') フジ機材工業株式会社
			li.Work-item.Work-item--webDesign
				span.Button FC2 スマートフォン用公式テンプレート pesante