
.svg-loader {
  animation: svg-loader 1.4s linear infinite;
}

.svg-loader__path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #ec407a;
  animation: svg-loader__path 1.4s ease-in-out infinite;
}

@keyframes svg-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes svg-loader__path {
  0% {
    stroke-dashoffset: 100;
  }

  50% {
    stroke-dashoffset: calc(100 / 4);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 100;
    transform: rotate(450deg);
  }
}
