doctype html
html(lang='ja', ng-app='main')
	head(prefix="og: http://ogp.me/ns#")
		include head

	body
		header.Header
			h1.Header-siteTitle 4uing

		main.Main
			.Network
				ul.Network-list
					li.Network-item.Network-item--github
						a.Button.Button--large.u-shutterOutHorizontal(href='https://github.com/hbsnow') GitHub
					li.Network-item.Network-item--twitter
						a.Button.Button--large.u-shutterOutHorizontal(href='https://twitter.com/hbsnow') Twitter
					li.Network-item.Network-item--qiita
						a.Button.Button--large.u-shutterOutHorizontal(href='http://qiita.com/hbsnow') Qiita

			block content

		include javascript