.content-body {
  padding: 1rem;
}

.content-body > .container > h2:not(:first-child) {
  position: relative;
  padding: 1.75rem 0 0;
}

.content-body > .container > h2:not(:first-child)::before {
  position: absolute;
  content: '';
  width: 100vw;
  left: -1rem;
  top: 0;
  border-top: 1px solid var(--color-divider);
}

@media (min-width: 56rem) {
  .content-body > .container > h2:not(:first-child)::before {
    width: calc(100% + 2rem);
  }
}
