.layout {
  display: grid;
  max-width: 78em;
  min-height: 100vh;
  grid-template:
    'nav  head menu' 3rem
    'main main main' 1fr
    'foot foot foot' auto / 3rem 1fr 3rem;
}

.layout__header {
  grid-area: head;
  z-index: 100;
}

.layout__menu {
  grid-area: menu;
  z-index: 100;
}

.layout__nav {
  grid-area: nav;
  z-index: 100;
}

.layout__main {
  grid-area: main;
  z-index: 50;
}

.layout__footer {
  grid-area: foot;
  z-index: 100;
}

@media (min-width: 64em) {
  .layout {
    grid-template: '. menu' 14rem 1fr / 1fr;
  }

  .layout__header,
  .layout__nav,
  .layout__footer {
    position: fixed;
  }

  .layout__header {
    top: 0;
    width: 14rem;
  }

  .layout__nav {
    top: calc(50vh - 1.5rem);
    left: auto;
    width: 3em;
    height: 3rem;
    margin-left: 12.5rem;
  }

  .layout__main {
    width: auto;
    min-height: 100vh;
  }

  .layout__footer {
    bottom: 0;
    width: 14rem;
  }
}
