.layout {
  display: grid;
  width: calc(100vw - 1rem);
  min-height: 100vh;
  grid-template:
    'nav  head menu' 3rem
    'main main main' 1fr
    'foot foot foot' auto / 1fr minmax(auto, 48rem) 1fr;
}

.layout__header {
  grid-area: head;
  z-index: 100;
}

.layout__menu {
  grid-area: menu;
  z-index: 100;
}

.layout__nav {
  grid-area: nav;
  z-index: 100;
}

.layout__main {
  grid-area: main;
  z-index: 50;
}

.layout__footer {
  grid-area: foot;
  z-index: 100;
}
