.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-light);
}

.main--out {
  position: absolute;
  animation: scale-down 0.7s ease both;
  transform-origin: center 16rem;
  z-index: -1;
}

.main--in {
  animation: move-from-bottom 0.6s ease both;
}

.main--in-top {
  animation: move-from-top 0.6s ease both;
}

.main--in-left {
  animation: move-from-left 0.6s ease both;
}

.main--in-right {
  animation: move-from-right 0.6s ease both;
}

.main__body {
  flex-grow: 1;
}
