.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 150;
}

.progress--active {
  transform: translateY(4px);
}

.progress__svg {
  display: block;
}

.progress__bar {
  stroke-dashoffset: 0;
  stroke: var(--color-primary);
}

.progress__base {
  stroke: var(--color-grey);
  opacity: 0;
}
