.sns {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sns__item {
  width: 10rem;
}

.sns__link {
  display: flex;
}

.sns__link:hover {
  text-decoration: none;
}

.sns__icon {
  margin-right: 0.5rem;
}

.sns__name {
  color: var(--color-light);
}

@media (min-width: 40em) {
  .sns {
    flex-direction: row;
  }
}
