.header-title {
  font-size: 1rem;
  text-align: center;
  line-height: 3;
  margin: 0;
}

.header-title__sub-domain {
  color: var(--color-primary-dark);
}

.header-title__root-domain {
  color: rgba(0, 0, 0, .6);
}
