---
title: About
---

p Yuki Takahashi (hbsnow)

h2 SNS

ul
  li: a(href='https://github.com/hbsnoww') GitHub
  li: a(href='https://twitter.com/hbsnow') Twitter
  li: a(href='tttps://qiita.com/hbsnow') Qiita
