---
title: About
---

p Yuki Takahashi (hbsnow)

h2 SNS

ul
  li: a(href='https://github.com/hbsnow') GitHub
  li: a(href='https://twitter.com/hbsnow') Twitter
  li: a(href='https://qiita.com/hbsnow') Qiita

h2 購入した技術関連の本一覧

p 購入した本の一覧を書いておくことで、買ったはいいが読めていないという本を減らす試み。今後、読み終えた本はできるだけ感想を書いていきたい。

p また、このリストは購入した本であって、図書館や知人から借りた本などは含んでいません。

h3 定期購読している雑誌

ul
  li Software Design
  li Web+DB Press

h3 読んでいる途中の本

ul
  li 理論から学ぶデータベース実践入門 ~リレーショナルモデルによる効率的なSQL
  li マスタリングTCP/IP 入門編 第5版
  li 達人プログラマ
  li テスト駆動開発
  li シェルプログラミング実用テクニック
  li Head First デザインパターン

h3 読み終わった本

ul
  li エンジニアのための WordpPress 開発入門
  li みんなのPython 第4版
  li リーダブルコード
  li カイゼンジャーニー
  li 楽々ERDレッスン
  li 達人に学ぶ SQL徹底指南書
  li 達人に学ぶDB設計 徹底指南書 初級者で終わりたくないあなたへ
  li SQL アンチパターン
  li webフロントエンド ハイパフォーマンス チューニング
  li webページ速度改善ガイド
  li 体系的に学ぶ 安全なWebアプリケーションの作り方 脆弱性が生まれる原理と対策の実践
  li Head First Java 第2版
  li XML HACKS
  li XML 辞典
  li ノンデザイナーズ・デザインブック [第4版]

h3 まだ読んでいない本

ul
  li マスタリングTCP/IP 入門編 第5版
  li 体系的に学ぶ 安全なWebアプリケーションの作り方 第2版 脆弱性が生まれる原理と対策の実践
  li テスト駆動開発
  li 現場で役立つシステム設計の原則
  li 初めての自動テスト
  li サーバーレスシングルページアプリケーション
