extends ../../content

block breadcrumb
	nav#breadcrumb
		.container
			div(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
				a(href='/blog/', itemprop='url')
					span(itemprop='title') Blog

			div(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
				a(href='/blog/tag/all/', itemprop='url')
					span(itemprop='title') Tag

block content_title
	h1#main-title= tag

block content_body
	ol.contents-list
		each item in pagination.files
			li.contents-item
				a(href='/' + item.path)
					.contents-item-meta
						time #{moment(item.date).format('YYYY-MM-DD')}

					.contents-item-title
						h2= item.title
