doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
	url
		loc= site.url
		changefreq monthly
		priority 0.5

	url
		loc= site.url + 'about/'
		changefreq monthly
		priority 0.5
	url
		loc= site.url + 'blog/'
		changefreq weekly
		priority 0.5

	each item in collections.posts
		url
			loc= site.url + item.path
			priority 0.8
