script(type='application/ld+json')
  block jsonld
    -
      //- pagetype
      var jsonld = {
        '@context': 'http://schema.org',
        '@type': pagetype || 'WebPage',
        headline: title + ' | ' + site.name || site.name,
        publisher: {
          '@type': 'Organization',
          'name': site.publisher.name,
          'logo': {
            '@type': 'ImageObject',
            url: site.publisher.image,
            height: site.publisher.height || 60,
            width: site.publisher.width || 600
          }
        },
        description: description || site.description
      }

      if (datePublished) {
        Object.assign({}, jsonld, {
          datePublished: datePublished
        })
      }

      if (dateModified) {
        Object.assign({}, jsonld, {
          dateModified: dateModified
        })
      }

      if (image) {
        json_ld[0] = Object.assign(json_ld, {
          image: image
        })
      }

    != JSON.stringify(jsonld)
