extends ../content

block breadcrumb
	nav#breadcrumb
		.container
			div(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
				a(href='/blog/', itemprop='url')
					span(itemprop='title') Blog

block content_meta
	.content-header-meta
		.container
			include article-date
			include article-tags
			include article-toc
