---
description: Home
---

ul.post-list
  each val in collections.blog
    - var date = dayjs(val.datePublished)
    li.post-list__item
      a.post-list__link(href='/' + val.posixPath)
        div.post-list__date= date.format('YYYY')
        div.post-list__title= val.title
