.cage
	.box
		.drop-one
		.drop-two
		.ripple.l-side
		.ripple.r-side

.cage.two
	.box
		.drop-three
		.drop-four

svg(xmlns='http://www.w3.org/2000/svg', version='1.1')
	defs
		filter#goo
			feGaussianBlur(in='SourceGraphic', stdDeviation='15', result='blur')
			feColorMatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
			feComposite(in='SourceGraphic', in2='goo', operator='atop')

svg(xmlns='http://www.w3.org/2000/svg', version='1.1')
	defs
		filter#goo2
			feGaussianBlur(in='SourceGraphic' stdDeviation='8' result='blur')
			feColorMatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
			feComposite(in='SourceGraphic', in2='goo', operator='atop')
