.container
	#footer-social
		ul.layout.horizontal
			li.flex
				a(href='https://twitter.com/hbsnow') Twitter

			li.flex
				a(href='https://github.com/hbsnow') GitHub

			li.flex
				a(href='/blog/feed.rss', target='_blank') RSS

	#footer-copyright
		p &copy; #{new Date().getFullYear()}
