script(src='/scripts/loadCss.js', inline)

script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
script(src='/scripts/main.js')
