extends ../../../content

block breadcrumb
	nav#breadcrumb
		.container
			div(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
				a(href='/blog/', itemprop='url')
					span(itemprop='title') Blog

block content_body
	ul.buttons-list
		each item, key in tags
			- var url = '/blog/tag/' + key.replace(' ', '-') + '/'
			li
				a(href=url)= key
