// base
@theme-color0: #247BA0;
@theme-color1: #70C1B3;
@theme-color2: #B2DBBF;
@theme-color3: #F3FFBD;
@theme-color4: #FF1654;

@base-color0: #212121;
@base-color1: #f9f9f9;
@base-color2: #fff;
@base-color3: #fafafa;

// link
@link-color:         @theme-color0;
@link-hover-color:   darken(@link-color, 20%);
@link-color-reverse: @base-color2;

// state
@state-success-text: #33691E;
@state-info-text:    #006064;
@state-warning-text: #FF6F00;
@state-danger-text:  #B71C1C;

@state-success-bg: #8BC34A;
@state-info-bg:    #00BCD4;
@state-warning-bg: #FFC107;
@state-danger-bg:  #F44336;

@text-muted: #757575;

// border
@border-color: #e5e5e5;

// body
@body-bgcolor: @base-color1;
@body-color:   @base-color0;
