// base
@theme-color0: #009688;
@theme-color1: #f9f9f9;
@theme-color2: #fff;
@theme-color3: #fafafa;

@base-color0:  #212121;
@base-color1:  #8BC34A;
@base-color01: #33691E;
@base-color2:  #00BCD4;
@base-color02: #006064;
@base-color3:  #FFC107;
@base-color03: #FF6F00;
@base-color4:  #F44336;
@base-color04: #B71C1C;
@base-color5:  #757575;

// state
@state-success-text: @base-color01;
@state-info-text: @base-color02;
@state-warning-text: @base-color03;
@state-danger-text: @base-color04;

@state-success-bg: @base-color1;
@state-info-bg: @base-color2;
@state-warning-bg: @base-color3;
@state-danger-bg: @base-color4;

@text-muted: @base-color5;

// border
@border-color: #e5e5e5;

// body
@body-bgcolor: @theme-color1;
@body-color: @base-color0;

// link
@link-color: @theme-color0;
@link-hover-color: darken(@link-color, 20%);

// pre
@pre-bgcolor: @theme-color2;
@pre-color: @base-color0;

// code
@code-color: #D50000;

// kbd
@kbd-color: @theme-color2;
@kbd-bgcolor: #333;

// table
@table-bgcolor: @theme-color2;
@table-border-color: @border-color;



