/**
 * Color
 */

$theme-color0: #CA054D;
$theme-color1: #3B1C32;
$theme-color2: #A4D4B4;
$theme-color3: #F3FFBD;
$theme-color4: #B96D40;

$body-bgcolor: $theme-color1;
$body-color:   $theme-color3;

$link-color:       $theme-color2;
$link-color-hover: color($link-color, b(20%));



/**
 * Size
 */

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$line-height: 1.5;



/**
 * Font-size
 */

$font-size-root: 16px;

$font-size: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: .85rem;
$font-size-xs: .75rem;

$font-size-h1: 4rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;



/*
 * Font-family
 */

$font-family-base: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$font-family-title: 'Alegreya Sans SC', $font-family-base;



/*
 * Layer
 */

$layer-header: 301;
$layer-network: 801;