a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: c$link-color-hover;
  }

  &:focus {
    @mixin tab-focus();
  }
}

h1, h2, h3 {
  font-family: $font-family-title;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}