doctype html
html(lang='ja', ng-app='mainApp')
	head
		include partial/head

	body
		.layout.vertical
			header#header.flex-none
				include partial/header

			main.flex-auto
				div(ui-view)
					!= contents

			footer#footer.flex-none
				include partial/footer

			pageloader

			preloader
				include partial/preloader

		#javascript
			script(src='/scripts/main.js')
